.home {
  .header.header-filter {
    min-height: 100vh;
    height: 100%;
  }
  .sharing-area{
    margin-top: 1rem;
  }
  .brand {
    margin-top: 4rem;
  }
  .description{
    margin-top: 1rem;
    text-align: right;
    padding: 1rem;
    direction: rtl;
    color: #000!important;
    background-color: rgba(255, 255, 255, .6);
  }
}

.home .main-nav {
  background-color: rgba(255, 255, 255, .6);
  padding: 1rem 0;
  ul {
    display: flex;
    justify-content: center;
  }
}