@font-face {
  font-family: 'BYekan';
  src: url("/fonts/yekan/BYekan.eot?#") format("eot"), url("/fonts/yekan/BYekan.ttf") format("truetype"), url("/fonts/yekan/BYekan.woff") format("woff");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/material/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/fonts/material/MaterialIcons-Regular.woff2) format("woff2"), url(/fonts/material/MaterialIcons-Regular.woff) format("woff"), url(/fonts/material/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

.g-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.g-right-margin3 {
  margin-right: .3rem;
}

.g-right-margin6 {
  margin-right: .6rem;
}

.g-right-margin9 {
  margin-right: .9rem;
}

.g-left-margin3 {
  margin-left: .3rem;
}

.g-left-margin6 {
  margin-left: .6rem;
}

.g-left-margin9 {
  margin-left: .9rem;
}

.g-auth .card-signup .header {
  padding: 1rem;
}

.g-auth .card-signup .content {
  direction: rtl;
  padding: 0 10px 0 30px;
}

.g-auth .checkbox {
  text-align: center;
}

.g-auth .alert-danger {
  direction: rtl;
  font-size: 15px;
}

.g-auth .checkbox-material {
  direction: ltr;
}

.g-auth .header-filter {
  height: auto !important;
}

.g-auth .header-filter:after {
  background: rgba(255, 133, 133, 0.2);
}

.g-auth .header-success {
  background: -webkit-linear-gradient(30deg, #8c0000, #780000);
  background: linear-gradient(60deg, #8c0000, #780000);
}

.g-auth .g-auth-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.g-auth .g-auth-header img {
  width: 10rem;
}

.g-auth-reset.header-filter {
  min-height: 100vh;
}

.g-auth a.text-muted {
  text-decoration: none;
}

.g-auth-reset .main {
  width: 40%;
  margin: 10rem auto;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.temp_home .header.header-filter {
  height: 100vh;
}

.temp_home .brand {
  margin-top: 4rem;
}

.ask-participation .ask-dialog {
  margin-top: 15rem;
  background-color: white;
  direction: rtl;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.ask-participation .ask-dialog .label-floating .control-label {
  left: initial !important;
}

.ask-participation .ask-dialog .submit-button {
  width: 100%;
}

.ask-participation .ask-dialog .checkbox {
  direction: ltr;
}

.ask-participation .ask-dialog input[type="number"]::-webkit-outer-spin-button,
.ask-participation .ask-dialog input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ask-participation .ask-dialog input[type="number"] {
  -moz-appearance: textfield;
}